  
  h2, h3 {
    text-align: center;
    color:#c700b9;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .selects {
    display: flex;
    gap: 10px;
  }
  
  .resultado {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
  }
  
  #historico {
    list-style-type: none;
    padding: 0;
  }
  
  #historico li {
    background: #e9ecef;
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 14px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}


input, select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #ff98f6;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #c700b9;
}



input{
    border-radius: 30px;
}
select{
    border-radius:30px;
}


